:root {
    --mainBlue: #2a2a72;
    --lightBlue: #009ffd;
    --mainWhite: #f3f3f3;
    --mainDark: #232528;
    --mainYellow: #ffa400;
}
body, html {
    font-family: 'Oswald', sans-serif !important;
    background-color: var(--mainWhite) !important;
    color: var(--mainDark) !important;
    overflow-x: hidden;
}
.text-title {
    font-family: 'Permanent Marker', cursive;
    letter-spacing: 5px;
    text-transform: uppercase;
}
.text-blue {
    color: var(--mainBlue);
}
.cart-item:not(:last-of-type) {
    border-bottom: 2px solid #e3e3e3;
    padding-bottom: 10px;
}
.quantity {
    border: 2px solid var(--mainDark) !important;
    font-size: 8px !important;
}
.quantity:hover:not(.count) {
    background-color: var(--mainDark);
    color: var(--mainWhite) !important;
    transition: all .3s ease-in-out;
}
.quantity:hover i {
    color: var(--mainWhite);
}
.count {
    cursor: auto !important;
}
.remove {
    color: var(--mainYellow);
    cursor: pointer;
}